<mat-tab-group>
  <mat-tab label="table-basic">
    <table-basic-example></table-basic-example>
  </mat-tab>
  <mat-tab label="table-column-stylings">
    <table-column-styling-example></table-column-styling-example>
  </mat-tab>
  <mat-tab label="table-dynamic-array-data">
    <table-dynamic-array-data-example></table-dynamic-array-data-example>
  </mat-tab>
  <mat-tab label="table-dynamic-columns">
    <table-dynamic-columns-example></table-dynamic-columns-example>
  </mat-tab>
  <mat-tab label="table-dynamic-observable-data">
    <table-dynamic-observable-data-example></table-dynamic-observable-data-example>
  </mat-tab>
  <mat-tab label="table-expandable-rows">
    <table-expandable-rows-example></table-expandable-rows-example>
  </mat-tab>
  <mat-tab label="table-filtering">
    <table-filtering-example></table-filtering-example>
  </mat-tab>
  <mat-tab label="table-flex-basic">
    <table-flex-basic-example></table-flex-basic-example>
  </mat-tab>
  <mat-tab label="table-footer-row">
    <table-footer-row-example></table-footer-row-example>
  </mat-tab>
  <mat-tab label="table-generated-columns">
    <table-generated-columns-example></table-generated-columns-example>
  </mat-tab>
  <mat-tab label="table-harness">
    <table-harness-example></table-harness-example>
  </mat-tab>
  <mat-tab label="table-http-example">
    <table-http-example></table-http-example>
  </mat-tab>
  <mat-tab label="table-multiple-header-footer">
    <table-multiple-header-footer-example></table-multiple-header-footer-example>
  </mat-tab>
  <mat-tab label="table-overview">
    <table-overview-example></table-overview-example>
  </mat-tab>
  <mat-tab label="table-pagination">
    <table-pagination-example></table-pagination-example>
  </mat-tab>
  <mat-tab label="table-recycle-rows">
    <table-recycle-rows-example></table-recycle-rows-example>
  </mat-tab>
  <mat-tab label="table-reorderable">
    <table-reorderable-example></table-reorderable-example>
  </mat-tab>
  <mat-tab label="table-row-binding">
    <table-row-binding-example></table-row-binding-example>
  </mat-tab>
  <mat-tab label="table-row-context">
    <table-row-context-example></table-row-context-example>
  </mat-tab>
  <mat-tab label="table-selection">
    <table-selection-example></table-selection-example>
  </mat-tab>
  <mat-tab label="table-sorting">
    <table-sorting-example></table-sorting-example>
  </mat-tab>
  <mat-tab label="table-sticky-columns">
    <table-sticky-columns-example></table-sticky-columns-example>
  </mat-tab>
  <mat-tab label="table-sticky-complex">
    <table-sticky-complex-example></table-sticky-complex-example>
  </mat-tab>
  <mat-tab label="table-sticky-complex-flex">
    <table-sticky-complex-flex-example></table-sticky-complex-flex-example>
  </mat-tab>
  <mat-tab label="table-sticky-footer">
    <table-sticky-footer-example></table-sticky-footer-example>
  </mat-tab>
  <mat-tab label="table-sticky-header">
    <table-sticky-header-example></table-sticky-header-example>
  </mat-tab>
  <mat-tab label="table-text-column">
    <table-text-column-example></table-text-column-example>
  </mat-tab>
  <mat-tab label="table-text-column-advanced">
    <table-text-column-advanced-example></table-text-column-advanced-example>
  </mat-tab>
    <mat-tab label="table-with-ripples">
    <table-with-ripples-example></table-with-ripples-example>
  </mat-tab>
   <mat-tab label="table-wrapped">
    <table-wrapped-example></table-wrapped-example>
  </mat-tab>
</mat-tab-group>


